
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 175px;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 28px;
    border-radius: 10px;
     margin: 5px;
    
    
    
}

.btn-pri:hover{
    background-color: burlywood;
}

.text-primary{
    color: rgba(78, 71, 255, 1);
}

nav ul li{
    list-style: none;
}

.nav-title{
    font-weight: black;
    font-size: 34px;
}

.banner{
    text-align: center;
    padding:100px 50px;
    
    
}
.banner-content{
    /* margin: 0 35px 0 35px; */
}
.background{
    background-image: url("./assets/Hero-bg.png");
    
}
main{
    /* max-width: 500px; */
}

.action{
    display: flex;
    justify-content: space-between;
    padding: 50px ;
}
.action1{
    font-weight: bold;
    font-size: 45px;
    border-radius: 10px;
}
.action2{
    font-size: 24px;
}
.action-title{
    border-radius: 8px;
}


.action-border{
    border-radius: 100px;
}

.user-tilte{
    font-weight: bold;
    font-size: 20px;
    color:#252432 ;
    text-align: center;
    padding: 20px;
}
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);;
    max-width: 500px;
    margin: 0 auto;
}
.user-items{
    display: flex;
    justify-content: space-around;
    /* padding-right: 10px; */
    padding-left: 20px;
    border-radius: 10px;
    

}
.User-title{
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 50px;
}

.User-descrip{
    /* padding-top: 20px; */
    /* padding-bottom: 50px; */
    /* margin: 20px; */
    font-size: 10px;
}
.review{
    /* justify-content: center; */
}


.stars{
    display: inline;
}


.review{
    display: flex;
    /* align-items: center; */
    /* gap: 10px; */
}

.details{
    display: flex;
    flex-direction: column;
}
.actions{
    /* display: flex; */
    /* display: inline; */
    justify-content: space-around;
    /* padding-bottom: 200px; */
    /* background-color: #F2EDED; */
}



.actionsec{
    /* text-align: center; */
    background-color: #F2EDED;
}
section h2{
    justify-content: space-around;
}

.center{
    text-align: center;
    padding-top: 80px;
}

.challenge{
    display: flex;
    /* text-align: center; */
    padding-bottom: 70px;
    /* background-color: #F2EDED; */
}


.name-describe{
    padding-top: 25px;
    border-radius: 10%;
    border-top: 10%;
    margin-right: 30px;
}
.btn{
    /* align-items: center; */
    margin-inline: 150px;
    /* padding: 100px; */
}
.focus-title{
    margin: 30px;
}
.foi{
    text-align: center;
}
.focus-better{
    /* align-items: center; */
    margin: 0 350px 0 350px;
    max-width: 500pxx;
    background-color:#FFFFFF;
    text-align: center;
}
.border-rad{
    /* border: 5px solid wheat; */
    border-radius: 30px;
    
}

.border-radi{
    border-radius: 10px;
    /* margin: 5px; */
    text-align: center;
}

.jsttitle{
    font-size: 50px;
    padding-top: 20px;
    margin: 20px;
}
.touch{
    display: flex;
    justify-content: space-between;
}

.form-contact{
    /* border: 2px solid wheat; */
    padding-top: 50px;
    font-size: 50px;
    margin-right: 100px;
    
}
.place{
    padding: 20px;
}

.form-group{
    max-width: 500px;
    display:  flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 0;
    font-size: 18px;
    gap: 10px;
    
}



.section-title{
    text-align: center;
    color: rgba(78, 71, 255, 1);
    /* background-color: wheat; */
    font-weight: bold;
    font-size: 50px;

}

.describe-footer{
    align-items: center;
}

.daddy{
    display: flex;
    justify-content: space-around;
}
